<style>
p {
    text-align:justify;
    margin: 0 20%;
}
p.neat-word {
    text-align: center;
    font-size:30px;
    color: blue;
    text-transform:uppercase;
}

.main-header {
  text-align: center;
}

#header-text {
  display: inline;
}


#header-text a {
  text-align: right;
}
#header-text h1 {
  text-align: left;
}
#nav {
  text-align: center;
  background-color: azure;
}

#nav li {
  margin-right: 25px;
  display: inline;
}

#nav li a {
  text-decoration: none;
  color:purple;
}


#nav li a:hover {
  text-decoration: underline;
  color:violet;

}

</style>
