<style>
p {
    text-align:justify;
    margin: 0 20%;
}
p.neat-word {
    text-align: center;
    font-size:30px;
    color: blue;
    text-transform:uppercase;
}

#nav {
  align-content: center; 
  background-color: azure;
}
#nav li {
  margin-right: 15px;
  display: inline;
}


#nav li a {
  text-decoration: none;

}
</style>
