// mini navigation

.mini-navigation {
    @include containing-block;
    @extend %clearfix;
    margin-left: -3px;
    padding: 0;

    .sections-button,
    .search-button {
        display: inline-block;
        margin: -3px 4px -5px 0;
        border: none;

        .button-text {
            @include visually-hidden;
        }

    }

    .mini-navigation-menu {
        margin-bottom: 0;
        padding: 4px;
        text-align: center;
        white-space: nowrap;

        li {
            @include font($sans, 12, 16, $medium);
            display: inline-block;
            vertical-align: top;
            text-transform: capitalize;
            color: $black;

            &.shortcuts-3300eb4c-284f-4484-af31-0d7d1dba4f4c, // crosswords
            &.shortcuts-99c17804-a343-4a76-bf04-f5793ada48d1 { // times premier
                display: none;
            }

            .edition-domestic & {

                &.international {
                    display: none;
                }

            }

            .edition-international & {

                &.domestic {
                    display: none;
                }

            }

            &.enabled {
                display: inline-block;
            }

            a {
                display: inline-block;
                margin: 5px 2px 5px 0;
                padding: 0 4px;

                &:hover {
                    text-decoration: none;
                    background-color: $newsprint-20;
                }

            } // end a

            .all-sections-button {
                @include button-theme-transparent;
                @include font($sans, 10, 16, $medium);
                margin-top: 5px;
                padding: 0;
                border: 1px solid transparent;
                text-transform: uppercase;
                letter-spacing: 1px;

                &:hover {
                    color: $black;
                    background-color: transparent;
                    text-decoration: underline;
                }

            } // end all-sections-button

        } // end li

    } // end mini-navigation-menu

    .search-active & {
        @include box-shadow(0 0 0 transparent);
    }

    .theme-in-content & {
        padding: 0;

        .all-sections-button {
            display: none;
        }

        .mini-navigation-menu {
            @include span(20, 0, 10); // 970
            margin: 0 auto;
            padding: 10px 3px;
            text-align: left;
            background: $white;

            li {

                a {
                    margin: 5px 2px 5px 0;
                }

            }

        } // end mini-navigation-menu

        .sections-button,
        .search-button {
            display: inline-block;
            visibility: visible;
        }

        .sections-button {

            .icon {
                @include icon-sections-16x16-333333;
            }

        }

        .search-button {

            .icon {
                @include icon-search-16x16-333333;
            }

        }

    } // end theme-in-content


    .theme-in-content &,
    .theme-pinned-masthead & {

        .mini-navigation-menu {
            padding: 4px;
        }

    }

    .theme-in-content.theme-pinned-masthead & {

        .all-sections-button {
            display: inline-block;
        }

        .sections-button,
        .search-button {
            visibility: hidden;
            margin: -3px 4px -5px 0;
        }

    }

} // end mini-navigation
